* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Inter', sans-serif; */

}

.banner {}

.banner-img {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    position: relative;
    height: 600px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 16px;
}

.banner-text {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.banner-title {
    width: 259px;
    height: 40px;
    font-size: 32px;
    font-weight: 400;
    margin-left: 530px;
    padding-top: 177px;
}

.banner-heading {
    font-size: 72px;
    width: 632px;
    height: 190px;
    font-weight: 900;
    line-height: 95px;
    margin-left: 344px;
    padding-top: 16px;
}

.heading-text {
    margin-top: 120px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#discount {
    color: #F00;
    font-size: 88px;
    font-weight: 700px;
    /* font-family: 'Inter', sans-serif; */
}

#holydays {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    /* font-family: 'Inter', sans-serif; */
}

#catagories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    font-family: 'Inter', sans-serif;
}

#header-image {
    background-image: url(../images/New\ Year\ Photo.png);
    background-repeat: no-repeat;
    position: relative;
    color: lightgray 50%;
    height: 500px;
    width: 802px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.first-body-image {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 600px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    border-radius: 10px;
    display: flex;
}

.body-image-text h1 {
    color: #FFF;
    font-family: 'Merriweather', serif;
    width: 642px;
    height: 176px;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-top: 126px;
    padding-left: 126px;
}

.body-image-text p {
    color: rgba(255, 255, 255, 0.80);
    width: 697px;
    height: 60px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 30px;
    padding-left: 126px;
    margin-top: 14px;
}

#button {
    margin-left: 158px;
    margin-top: 48px;
}

#button button {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 103px;
    height: 24px;
    color: #FFF;
    background: #070211;
    border: 0;
    border-radius: 2px;
}

.new-year {

    width: 319px;
    height: 464px;
    margin-top: 69px;
    margin-right: 138px;
}

.location {
    background-color: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.second .main-content {
    background-color: lightgoldenrodyellow;

    width: 85%;
    max-width: 1320px;
    margin: 130px auto;
    padding: 100px 0px;


}

.content-text {
    text-align: center;

}

.container-text-heading h1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 35px;
    text-transform: capitalize;
}

.red {
    color: #F00;
}

.content-text .contact-button>button {
    margin-top: 48px;
    padding: 16px 32px;
    gap: 10px;
    border: 0px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.full-content {

    width: 85%;
    max-width: 1320px;
    margin: 0px auto;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
}

/* font-family: 'Merriweather', serif; */
/* font-family: 'Inter', sans-serif; */
.text-content * {
    margin-bottom: 22px;
}

.full-content .text-content h3 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.full-content .text-content h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.full-content .text-content p {
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.image-content img {
    border: 10px solid red;
    border-radius: 50%;
    padding: 30px;
}

.offer-heading h1 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.offer-heading p {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}

.section-content {
    width: 85%;
    max-width: 1320px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

/* font-family: 'Merriweather', serif; */
/*  */

.section-heading {
    text-align: center;
    width: 1068px;
    margin: 0px auto;

}

.section-heading h3 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.section-heading h1 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 16px;
}

.section-heading h1 span {
    color: #F00;
}

.section-heading p {
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
}

.image-section {
    text-align: right;
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    position: relative;
    top: 500px;
}

.image-section img {
    position: relative;
    bottom: 433px;
}

#fireworks {
    width: 250px;
    height: 350px;
    position: relative;
    bottom: 440px;
    right: 100px;
}

#circle {
    position: relative;
    bottom: 700px;
    right: 300px;
}

.cection-five {
    margin-top: 0px;
}

.gift-content {
    width: 85%;
    max-width: 1320px;
    margin: 0px auto;
}

.gift-content-text h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.gift-content-text h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
    text-transform: capitalize;
}

.gift-content-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.gift-content-img {
    margin-top: 48px;
}

.first-row {
    display: flex;
    gap: 24px;
}

.second-row {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.content-bottom {
    width: 85%;
    max-width: 1320px;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}

#email-icon {
    text-align: center;
    padding-top: 80px;
}

.text-newsletter {
    text-align: center;
    margin-top: 40px;
}

.text-newsletter h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.text-newsletter p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 32px;
    padding-left: 212px;
    padding-right: 212px;
}

form {
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    padding-left: 336px;
    padding-right: 336px;
    padding-bottom: 80px;

}

form input {
    width: 648px;
    height: 72px;
    /* flex-shrink: 0; */
    border: 0px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    padding: 0px 30px;
    font-size: 30px;
    outline: none;

}

#subscribe {
    width: 210px;
    height: 72px;
    /* flex-shrink: 0; */
    border: 0px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

#footer-section {

    background: #070211;
    height: 609px;
}

.footer-content {
    width: 85%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.contact-info h4,
a {
    color: #FFF;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 40px;
}

.contact-info {
    display: flex;
    gap: 559px;
    /* align-items: center; */
    padding-top: 120px;
    padding-bottom: 50px;
}

.contact-info .contact-number {
    display: flex;
    gap: 16px;
    align-items: center;
}

.contact-info .contact-number h4 {
    width: 195px;
    height: 40;
}

.website {
    display: flex;
    gap: 16px;
    align-items: center;
}

.website a {
    text-decoration: none;
}

hr {
    border-top: 1px solid indigo;
}

.social-media {
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 0px 500px;
    display: flex;
    gap: 16px;
}
.copyright{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.footer-copy {
    color: #FFF;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    align-items: center;
}
.copyright #Unsubscribe{
    /* display: inline-flex; */
padding: 10px 25px;
/* justify-content: center; */
align-items: center;
border-radius: 8px;
background:white;
}